.carousel-item {
  width: 100%;
  height: 500px;
}


#background-img01 {
  object-position: 0 -140px;
  width: 100%;
}

#background-img02 {
  object-position: 0 -190px;
}

#background-img03 {
  object-position: 0 -180px;
}